{% extends "base.html" %}

{% block title %}
    Update Task - Homework 4
{% endblock %}

{% block body %}
    <!--Update Task that was Selected-->
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="card mb-3">
                    <div class="card-header">
                        Update Task
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-1">Task name:</p>

                        <!--Form to Update the specific Task selected-->
                        <form action="" method="post">
                        {% csrf_token %}
                            <input type="text" class="form-control" placeholder="Update task" name="task">
                            <br>
                            <button type="submit" value="Add" class="btn btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i> Update
                            </button>
                        </form>
                    </div>
                </div>
                <a href="{% url 'index' %}" class="btn btn-warning"><i class="fa-sharp fa-solid fa-arrow-left"></i> Go back</a>
            </div>
        </div>
    </div>
{% endblock %}